<div id="portraitDummyFill"></div>
<div id="contact" class="parallax">
	<%= image_tag "bg.jpg", id: "contact_bg" %>
	<%= image_tag "cloud.png", id: "contact_cloud" %>

	<div id="contact_centered_frame">
		<%= image_tag "logo-watermark.png", id: "watermark_logo" %>
		

		<div id="contact_info">
			For inquiries, email us at <b>info@coz.fm</b>
		</div>
	</div>

</div>