<div id="information" class="parallax">
    
    <div class="LeftColumn" id="coz_logo_frame">
    	<%= image_tag("cozlogo-white.png", id: "coz_logo") %>
    </div>
    <div class="RightColumn">
        <div id="whatIsCoz" class="SubRow">
            <b>We provide</b> lorem impsum sit amet memet huseyin felan falan veni vidi vici seni gidi seni
        </div>
        <div id="valueProposition" class="SubRow">
            Value Proposition: Coz provides lorem ipsum dolor sit alani ne oldu burda eskiden buralari bostandi be filan falan felun
        </div>
        <div id="customerSegments" class="SubRow LastRow">
        	Customer Segments: Coz provides lorem ipsum dolor sit alani ne oldu burda eskiden buralari bostandi be filan falan felun
    	</div>
    </div>
</div>