<div id="information" class="parallax">
    
    <div class="LeftColumn" id="coz_logo_frame">
    	<%= image_tag("cozlogo-white.png", id: "coz_logo") %>
    </div>
    <div class="RightColumn">
        <div id="whatIsCoz" class="SubRow">
            <b>We provide</b> strategic partnerships to startups and businesses seeking differentiation through technological and visual development.
        </div>
        <div id="valueProposition" class="SubRow">
            <b>We yyy</b> Coz provides lorem ipsum dolor sit alani ne oldu burda eskiden buralari bostandi be filan falan felun
        </div>
        <div id="customerSegments" class="SubRow LastRow">
        	<b>We zzz</b> Coz provides lorem ipsum dolor sit alani ne oldu burda eskiden buralari bostandi be filan falan felun
    	</div>
    </div>
</div>