<div id="services" class="parallax">


    <div class="LeftColumn">
        <div class="LeftLabel">SERVICES</div>
    </div>

    <div class="RightColumn">

        <div id="consulting" class="SubColumn">
            <b>Consulting</b>
            </br>Market sizing
            </br>Segmentation
            </br>Valuation
            </br>Analytics
            </br>Monitoring    
        </div>

        <div id="branding" class="SubColumn">
            <b>Branding</b>
            </br>Identity
            </br>Positioning
            </br>Layouts
            </br>Promotion
        </div>
        
        <div id="technology" class="SubColumn LastColumn">
            <b>Technology</b>
            </br>WebGL
            </br>Angular
            </br>Express
            </br>Node
            </br>Rails
        </div>
    </div>
</div>