  
<div id="information" class="fullscreen parallax">
    <div class="LeftColumn">
    	<%= image_tag("cozlogo-white.png", id: "coz_logo") %>
    </div>
    <div class="RightColumn"><div class="RightColumnInnerFrame">
        <div id="whatIsCoz" class="SubContent">
            Bla bla lorem impsum flan
        </div>
        <div id="valueProposition" class="SubContent">
            Value Proposition: Coz provides lorem ipsum dolor sit alani ne oldu burda eskiden buralari bostandi be filan falan felun
        </div>
        <div id="customerSegments" class="SubContent">
        	Customer Segments: Coz provides lorem ipsum dolor sit alani ne oldu burda eskiden buralari bostandi be filan falan felun
    	</div>
    </div></div>
</div>
  
<div id="services" class="fullscreen parallax">
    <div class="LeftColumn">
    	services
    </div>
    <div class="RightColumn"><div class="RightColumnInnerFrame">
        <div id="technology" class="SubContent">
            Tech
        </div>
        <div id="branding" class="SubContent">
            branding
        </div>
    </div></div>
</div>
  
<div id="team" class="not-fullscreen parallax">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</div>

<div id="contact" class="fullscreen  parallax">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</div>
  
  

<!--
	<div id="webglbg" class="parallax_frame">
		
		<div id="webglbg_frame">
			<%= render "webglbg" %>
		</div>

		<div id="webglbg_foreground">

		</div>

		<div class="uniformSquare">
			<div id="coz_logo_frame">
				<%= image_tag("cozlogo.png", id: "coz_logo") %>
			</div>

			<div id="whatIsCoz">
				Coz is xyz
			</div>
		</div>	
	
	</div>	

	<div id="description" class="parallax_frame">

		<div class="uniformSquare">

		

			<div id="valueProposition">
				Value Proposition: Coz provides lorem ipsum dolor sit alani ne oldu burda eskiden buralari bostandi be filan falan felun
			</div> 

			<div id="customerSegments">
				Customer Segments: Coz provides lorem ipsum dolor sit alani ne oldu burda eskiden buralari bostandi be filan falan felun			
			</div>

			<div id="services">
				Services:</br>
				Branding</br>
				HTML, CSS </br>
				Javascript </br>
				Angular.js</br>
				Rails</br>
				WebGL</br>
			</div>

			<div id="people">
				People:</br>
				Arda Ayvaz</br>
				Baris Siniksaran</br>
				Murat Ozgul</br>
				Serhan Ozgul</br>
			</div>

			<div id="contact">
				Call to action</br>
				Contact info</br>
			</div>

		

		</div>	



	</div>	



