  
<div class="fullscreen background parallax" style="background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_6648.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100" id="d1">
    <div class="content-a" id="d1">
        <div class="content-b">
            Centered content
        </div>
    </div>
</div>
  
<div class="not-fullscreen background parallax" style="background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_6643.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100" id="d2">
    <div class="content-a" id="d2">
        <div class="content-b">
            Centered content
        </div>
    </div>
</div>
  
<section class="not-fullscreen" id="d3">
    <div class="content-a">
        <div class="content-b" id="d3">
            Centered content
        </div>
    </div>
</section>

<div class="fullscreen background parallax" style="background-image:url('http://www.minimit.com/images/picjumbo.com_DSC_3274.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100" data-oriz-pos="100%" id="d4">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</div>
  
<section class="fullscreen">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</section>
  
<div class="fullscreen background parallax" style="background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_9857.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            <br>Content overflow<br>Content overflow
            <br>Content overflow<br>Content overflow
            <br>Content overflow<br>Content overflow
            <br>Content overflow<br>Content overflow
            <br><br>
        </div>
    </div>
</div>
  
<div class="not-fullscreen background parallax" style="background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_8697.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</div>
  
<section class="fullscreen">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</section>



<!--
	<div id="webglbg" class="parallax_frame">
		
		<div id="webglbg_frame">
			<%= render "webglbg" %>
		</div>

		<div id="webglbg_foreground">

		</div>

		<div class="uniformSquare">
			<div id="coz_logo_frame">
				<%= image_tag("cozlogo.png", id: "coz_logo") %>
			</div>

			<div id="whatIsCoz">
				Coz is xyz
			</div>
		</div>	
	
	</div>	

	<div id="description" class="parallax_frame">

		<div class="uniformSquare">

		

			<div id="valueProposition">
				Value Proposition: Coz provides lorem ipsum dolor sit alani ne oldu burda eskiden buralari bostandi be filan falan felun
			</div> 

			<div id="customerSegments">
				Customer Segments: Coz provides lorem ipsum dolor sit alani ne oldu burda eskiden buralari bostandi be filan falan felun			
			</div>

			<div id="services">
				Services:</br>
				Branding</br>
				HTML, CSS </br>
				Javascript </br>
				Angular.js</br>
				Rails</br>
				WebGL</br>
			</div>

			<div id="people">
				People:</br>
				Arda Ayvaz</br>
				Baris Siniksaran</br>
				Murat Ozgul</br>
				Serhan Ozgul</br>
			</div>

			<div id="contact">
				Call to action</br>
				Contact info</br>
			</div>

		

		</div>	



	</div>	



