



<div id="centerer">

<div id="webglbg" class="parallax_frame">

	<div id="webglbg_frame">
		<%= render "webglbg" %>
	</div>

	<div id="webglbg_foreground">

	</div>

	<div class="uniformSquare">
		<div id="coz_logo_frame">
			<%= image_tag("cozlogo.png", id: "coz_logo") %>
		</div>
	</div>	

</div>	

<div id="description" class="parallax_frame">

	<div class="uniformSquare">

		</br>
		</br>
		</br>
		</br>
		a company by</br>
		Arda Ayvaz</br>
		Baris Siniksaran</br>
		Murat Ozgul</br>
		Serhan Ozgul</br>
		</br>
		and</br>
		</br>
		Cin

	</div>	



</div>	



</div>

