



<div id="centerer">

<div id="webglbg" class="parallax_frame">

	<div id="webglbg_frame">
		<%= render "webglbg" %>
	</div>

	<div id="webglbg_foreground">

	</div>

	<div class="uniformSquare">
		<div id="coz_logo_frame">
			<%= image_tag("cozlogo.png", id: "coz_logo") %>
		</div>
	</div>	

</div>	

<div id="description" class="parallax_frame">

	<div class="uniformSquare">

		</br>
		Coz is lorem ipsum dolor sit amet memet huseyin
		</br></br>
		Value Proposition: Coz provides lorem ipsum dolor sit alani ne oldu burda eskiden buralari bostandi be filan falan felun
		</br></br>
		Customer Segments: Coz provides lorem ipsum dolor sit alani ne oldu burda eskiden buralari bostandi be filan falan felun
		</br></br>
		Services:</br>
		Branding</br>
		HTML, CSS </br>
		Javascript </br>
		Angular.js</br>
		Rails</br>
		WebGL</br>
		</br>
		People:</br>
		Arda Ayvaz</br>
		Baris Siniksaran</br>
		Murat Ozgul</br>
		Serhan Ozgul</br>



	</div>	



</div>	



</div>

