<div id="splash_frame">
	<div id="splash_logo">
		
	</div>

	<div id="social_links">
		<div class="social_link" id="facebook_link">
			<div class="social_icon" id="facebook_icon">
			</div>
		</div>	
		<div class="social_link" id="instagram_link">
			<div class="social_icon" id="instagram_icon">
			</div>
		</div>	
		<div class="social_link" id="twitter_link">
			<div class="social_icon" id="twitter_icon">
			</div>
		</div>	
		<div class="social_link" id="mail_link">
			<div class="social_icon" id="mail_icon">
			</div>
		</div>	
	</div>
</div>