

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<div class="JuiceGlyph">500 ml</div>
    	<div class="JuiceTitle">Glow Getter</div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "08-glowgetter.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "carrot.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">carrot</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "apple.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">apple</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "redpepper.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">red pepper</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
		</div> 
		<div class="JuiceDescription">
			I’m smooth and sexy, so don’t be surprised if we’re soon attached the hip. I prevent weight gain and bloating, increase circulation, keep you looking and feeling young and fight colds, flus and viruses.
		</div>
    </div>
</div>
