

.carousel_frame { 
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center; 
 	background-size: cover; 
 	
 	width: 100%;
 	height: 21em;
}

#carousel_frame1 { 
	 background-image: url('jus-1202-slider-1b.jpg');
}

#carousel_frame2 { 
	 background-image: url('jus-1202-slider-2b.jpg');
}


#products_frame { 
    background-image: url('juices-home.jpg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: bottom; 
 	background-size: cover; 
 	
 	width: 100%;
 	height: 33vw;

}

.ColumnTitle {
	font-family: "Trade Bold";
	font-size: 3.5vw !important; 
	
}

.LowerTitle {
	font-size: 3.25vw !important; 
}

#HookSlogan {
	font-family: "Trade Bold";
	font-size: 4.25vw !important; 
	padding-bottom: 1em;
}

.slogan_parallax {
	padding-top: 1em !important;

}

#whatIsJus{
	clear: both;
}

body {
	overflow-x: hidden;	
}


.RightColumn {
	overflow-x: hidden;	

}

.section_seperator {
	position: relative;
	font-size: 0.4em;
	margin-top: 1.5em;
	color: #CCCCCC;
	margin-bottom: 2em;
	overflow: hidden;
	width: 120%;

	font-style: italic;
	font-family: "Helvetica"; 
}