.spaced_text {
	line-height: 1.45em;
	.LowerTitle {
		margin-top: 0.1em;
		line-height: 3.25vw;
	}
}

.carousel_frame { 
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center; 
 	background-size: cover; 
 	
 	width: 100%;
 	height: 21em;
}

#carousel_frame1 { 
	 background-image: url('slide-1.jpg');
}

#carousel_frame2 { 
	 background-image: url('slide-2.jpg');
}

#carousel_frame3 { 
	 background-image: url('slide-3.jpg');
}

#products_frame { 
    background-image: url('juices-home.jpg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: bottom; 
 	background-size: cover; 
 	
 	width: 100%;
 	height: 33vw;

}

.ColumnTitle {
	font-family: "Trade Bold";
	font-size: 3.25vw !important; 
	
}

.LowerTitle {
	font-size: 2.75vw !important; 
}

#HookSlogan {
	font-family: "Trade Bold";
	font-size: 4.25vw !important; 
	padding-bottom: 1em;
}

#CarouselSlogan {
	font-family: "Trade Bold";
	
	padding-bottom: 1em;
	font-size: 1em;
	position: absolute;
	right: 1em;
	top: 6em;
	z-index: 100;

}

.slogan_parallax {
	padding-top: 1em !important;

}

#whatIsJus{
	clear: both;
}

body {
	overflow-x: hidden;	
}


.RightColumn {
	overflow-x: hidden;	

}

.section_seperator {
	position: relative;
	font-size: 0.4em;
	margin-top: 1.5em;
	color: #CCCCCC;
	margin-bottom: 2em;
	overflow: hidden;
	width: 120%;

	font-style: italic;
	font-family: "Helvetica"; 
}