

@font-face {
  font-family: 'Gotham Round Bold';
  src: font-url("GothamRnd-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Round Book';
  src: font-url("GothamRnd-Book.otf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham Round Book Italic';
  src: font-url("GothamRnd-BookIta.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Round Medium';
  src: font-url("GothamRnd-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
