@font-face {
  font-family: 'Trade Bold';
  src: font-url('trade_bold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trade Regular';
  src: font-url('trade_regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
