

@font-face {
  font-family: 'Raleway Regular';
  src: font-url("Raleway-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: font-url("Raleway-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

