@import 'variables.css.scss';

#jus_footer2 {
	position: relative;
	width: 100%;
	
	background-color: #282828;
	color: #666666;
	height: 7em;
	z-index: 10;
}

#footer_social {
	position: absolute;
	right: 1em;
	top: 1.5em;
	
	margin: auto;
	height: 1em;
	
}

a .footerLink {
	color: #666666 !important;
	font-family: "Trade Regular" !important;

	&:hover {
		color: #888888 !important;
	}

}

a .footerLinkHeader {
	color: #666666 !important;
	font-family: "Trade Bold" !important;

	&:hover {
		color: #888888 !important;
	}

}

#footer_logo {
	height: $header-height - 3em;
	padding: 1.2em;
	padding-top: 1em;
	padding-bottom: 0em;
	top: 0;
	left: 0;
	width: auto;
	position: absolute;

}

#footerLinks {
	
	position: relative;
	padding-top: 2.6em; 
	text-shadow: none;
	color: #666666; 
}



.footerLinksColumn {
	
	float: left;
	height: 6em;

	margin-right: 2.25em;
}

.footerColumnSeparator {
	
	height: 0.43em;
	
	margin-left: -0.15em;
	margin-top: -0.05em;
	color: #444444;
	margin-bottom: 0.5em;
	overflow: hidden;
	letter-spacing: -0.1em;
	font-family: "Trade Regular";
	font-weight: normal;
	font-style: "italic";
	 white-space: nowrap;
}

.fC1S {
	width: 4.1em;
}

.fC2S {
	width: 2.35em;
}

.fC3S {
	width: 4.55em;
}

.fC4S {
	width: 2.65em;
}

.footerLink {
	
	font-size: 0.7em;
	padding-bottom: 0.25em;
	margin-bottom: 0.2em;
}

.footerLinkHeader {
	font-family: "Trade Bold";
}