@import 'variables.css.scss';

.uniformSquare2 {

	display: inline-block;

	
	border: 2px solid red;
	
	text-align:center;
	background-color: transparent;
}

.uniformSquare {
	position: absolute;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align:center;
	margin: auto;
	background-color: transparent;
}

@media screen and (orientation:portrait) {
	.philosophy_label {
		/* font-size: 2.1vw !important; */
		font-size: 0.55em !important;
	}

	.philosophy_desc, .philosophy_desc2, {
		/* font-size: 2vw !important;	*/
		font-size: 0.5em !important;
	}

	#philosophy_area {
		padding-left: 0% !important;
		left: 0% !important;
	}

	#philosophy_area2 {
		padding-bottom: 0.5em !important;
	}


	.philosophy_frame {
		width: 47% !important;

	}


	.left_p_frame {
		margin-right: 1vw !important;
	}

	#links {
		&:hover {
			background-color: rgba(255, 255, 255, 0.9);
			.nav_label{
				display: block;

			}
		}

		.nav_link{

			.nav_label{
				color: #141414;
			}

			&:hover {
				.nav_label {
					color: #C60F47 !important;
				}
			}
		}
	}
	.nav_label {
		display: none;
	}
	.RightColumn{
		padding-left: 17%;
		width: 78%;
		padding-right: 5%;
	}
	#services {
		.RightColumn{ 
			width:90%; 
		}
	}
	.LeftColumn{
		padding-left: 25%;
		width: 50%;
		display: none !important;
	}
	#coz_logo {
		padding-left: 10%;
		padding-top: 0.2em;
	}

	.LeftLabel {
		font-size: 2em;
		display: inline-block;
	}


	.ProfileColumn{
		width: 19vw;
		height: 20vw;
	}
	#contact{
		
		height: 32em;
	}
	#contact_bg {
		height: 35em;
	}
	#contact_centered_frame {
		top: 0;
	}
	#portraitDummyFill{
		margin-top: 0.2em;
		height: 3em;
		background-color: #FFFFFF;
	}
	.SubRow {
		/* font-size: 2.75vw !important; */
		font-size: 0.65em;
	}
}

@media screen and (orientation:landscape) {
	.philosophy_symbol_frame{
		margin-right: 0.25em !important;
		

	}
	#philosophy_area2{
		padding-top: 1.5em !important;
		padding-bottom: 1.5vw !important;
	}

	.philosophy_frame2 {
		margin-bottom: 2.5vw !important;
	}

	.philosophy_label {
		/* font-size: 2.1vw !important; */
		font-size: 0.55em !important;
	}

	.philosophy_desc, .philosophy_desc2, {
		/* font-size: 2vw !important;	*/
		font-size: 0.55em !important;
	}


	#links {
		background-color: rgba(255, 255, 255, 0.0);
	}
	.SubRow {
		/* font-size: 1.55vw !important; */
		font-size: 0.65em;
	}
	#portraitDummyFill{
		margin-top: 0.2em;
		height: 0em;
		background-color: #FFFFFF;
	}
	#contact_centered_frame {
		top: 5em;
	}
	#contact{
		height: 43em;
	} 
	#contact_bg {
		height: 50em;
	}
	.ProfileColumn{
		width: 13vw;
		height: 13vw;
	}


	.LeftLabel {
		
		display: block;
		padding-left: 21%;
		font-size: 4.8vw;
	}

	#coz_logo {
		padding-top: 1.1em;
		padding-left: 10%;
		margin-left: 10%;
		margin-top: -2vw;
	}
	.RightColumn {

		padding-left: 30%;
		width: 65%;
		padding-right: 5%
	}
	.parallax{
		padding-left: 0;
	}
	#services {
		.RightColumn{ 
			width:60%; 
		}
	}
	.LeftColumn {
		padding-left: 0%;
		width: 0;
		padding: 0;
		margin: 0;
	}
}

@media all and (min-width: 50px) and (min-height: 50px) {
	html { font-size: 2px; }
	.uniformSquare, .uniformSquare2 {
		height: 50px;
		width: 50px;
	}  
}

@media all and (min-width: 75px) and (min-height: 75px) {
	html { font-size: 3px; }
	.uniformSquare, .uniformSquare2 {
		height: 75px;
		width: 75px;
	}  
}


@media all and (min-width: 100px) and (min-height: 100px) {
	html { font-size: 4px; }
	.uniformSquare, .uniformSquare2 {
		height: 100px;
		width: 100px;
	}  
}


@media all and (min-width: 125px) and (min-height: 125px) {
	html { font-size: 5px; }
	.uniformSquare, .uniformSquare2 {
		height: 125px;
		width: 125px;
	}  
}

@media all and (min-width: 150px) and (min-height: 150px) {
	html { font-size: 6px; }
	.uniformSquare, .uniformSquare2 {
		height: 150px;
		width: 150px;
	}  
}

@media all and (min-width: 175px) and (min-height: 175px) {
	html { font-size: 7px; }
	.uniformSquare, .uniformSquare2 {
		height: 175px;
		width: 175px;
	}  
}

@media all and (min-width: 200px) and (min-height: 200px) {
	html { font-size: 8px; }
	.uniformSquare, .uniformSquare2 {
		height: 200px;
		width: 200px;
	}  
}


@media all and (min-width: 225px) and (min-height: 225px) {
	html { font-size: 9px; }
	.uniformSquare, .uniformSquare2 {
		height: 225px;
		width: 225px;
	}  
}

@media all and (min-width: 250px) and (min-height: 250px) {
	html { font-size: 10px; }
	.uniformSquare, .uniformSquare2 {
		height: 250px;
		width: 250px;
	}  
}

@media all and (min-width: 275px) and (min-height: 275px) {
	html { font-size: 11px; }
	.uniformSquare, .uniformSquare2 {
		height: 275px;
		width: 275px;
	}  
}

@media all and (min-width: 300px) and (min-height: 300px) {
	html { font-size: 12px; }
	.uniformSquare, .uniformSquare2 {
		height: 300px;
		width: 300px;
	}  
}

@media all and (min-width: 325px) and (min-height: 325px) {
	html { font-size: 13px; }
	.uniformSquare, .uniformSquare2 {
		height: 325px;
		width: 325px;
	}  
}

@media all and (min-width: 350px) and (min-height: 350px) {
	html { font-size: 14px; }
	.uniformSquare, .uniformSquare2 {
		height: 350px;
		width: 350px;
	}  
}

@media all and (min-width: 375px) and (min-height: 375px) {
	html { font-size: 15px; }
	.uniformSquare, .uniformSquare2 {
		height: 375px;
		width: 375px;
	}  
}

@media all and (min-width: 400px) and (min-height: 400px) {
	html { font-size: 16px; }
	.uniformSquare, .uniformSquare2 {
		height: 400px;
		width: 400px;
	}  
}

@media all and (min-width: 425px) and (min-height: 425px) {
	html { font-size: 17px; }
	.uniformSquare, .uniformSquare2 {
		height: 425px;
		width: 425px;
	}  
}

@media all and (min-width: 450px) and (min-height: 450px) {
	html { font-size: 18px; }
	.uniformSquare, .uniformSquare2 {
		height: 450px;
		width: 450px;
	}  
}

@media all and (min-width: 475px) and (min-height: 475px) {
	html { font-size: 19px; }
	.uniformSquare, .uniformSquare2 {
		height: 475px;
		width: 475px;
	}  
}

@media all and (min-width: 500px) and (min-height: 500px) {
	html { font-size: 20px; }
	.uniformSquare, .uniformSquare2 {
		height: 500px;
		width: 500px;
	}  
}

@media all and (min-width: 525px) and (min-height: 525px) {
	html { font-size: 21px; }
	.uniformSquare, .uniformSquare2 {
		height: 525px;
		width: 525px;
	}  
}

@media all and (min-width: 550px) and (min-height: 550px) {
	html { font-size: 22px; }
	.uniformSquare, .uniformSquare2 {
		height: 550px;
		width: 550px;
	}  
}

@media all and (min-width: 575px) and (min-height: 575px) {
	html { font-size: 23px; }
	.uniformSquare, .uniformSquare2 {
		height: 575px;
		width: 575px;
	}  
}

@media all and (min-width: 600px) and (min-height: 600px) {
	html { font-size: 24px; }
	.uniformSquare, .uniformSquare2 {
		height: 600px;
		width: 600px;
	}  
}

@media all and (min-width: 625px) and (min-height: 625px) {
	html { font-size: 25px; }
	.uniformSquare, .uniformSquare2 {
		height: 625px;
		width: 625px;
	}  
}


@media all and (min-width: 650px) and (min-height: 650px) {
	html { font-size: 26px; }
	.uniformSquare, .uniformSquare2 {
		height: 650px;
		width: 650px;
	}  
}


@media all and (min-width: 675px) and (min-height: 675px) {
	html { font-size: 27px; }
	.uniformSquare, .uniformSquare2 {
		height: 675px;
		width: 675px;
	}  
}

@media all and (min-width: 700px) and (min-height: 700px) {
	html { font-size: 28px; }
	.uniformSquare, .uniformSquare2 {
		height: 700px;
		width: 700px;
	}  
}

@media all and (min-width: 725px) and (min-height: 725px) {
	html { font-size: 29px; }
	.uniformSquare, .uniformSquare2 {
		height: 725px;
		width: 725px;
	}  
}

@media all and (min-width: 750px) and (min-height: 750px) {
	html { font-size: 30px; }
	.uniformSquare, .uniformSquare2 {
		height: 750px;
		width: 750px;
	}  
}

@media all and (min-width: 775px) and (min-height: 775px) {
	html { font-size: 31px; }
	.uniformSquare, .uniformSquare2 {
		height: 775px;
		width: 775px;
	}  
}

@media all and (min-width: 800px) and (min-height: 800px) {
	html { font-size: 32px; }
	.uniformSquare, .uniformSquare2 {
		height: 800px;
		width: 800px;
	}  
}


@media all and (min-width: 825px) and (min-height: 825px) {
	html { font-size: 33px; }
	.uniformSquare, .uniformSquare2 {
		height: 825px;
		width: 825px;
	}  
}

@media all and (min-width: 850px) and (min-height: 850px) {
	html { font-size: 34px; }
	.uniformSquare, .uniformSquare2 {
		height: 850px;
		width: 850px;
	}  
}

@media all and (min-width: 875px) and (min-height: 875px) {
	html { font-size: 35px; }
	.uniformSquare, .uniformSquare2 {
		height: 875px;
		width: 875px;
	}  
}

@media all and (min-width: 900px) and (min-height: 900px) {
	html { font-size: 36px; }
	.uniformSquare, .uniformSquare2 {
		height: 900px;
		width: 900px;
	}  
}

@media all and (min-width: 925px) and (min-height: 925px) {
	html { font-size: 37px; }
	.uniformSquare, .uniformSquare2 {
		height: 925px;
		width: 925px;
	}  
}

@media all and (min-width: 950px) and (min-height: 950px) {
	html { font-size: 38px; }
	.uniformSquare, .uniformSquare2 {
		height: 950px;
		width: 950px;
	}  
}

@media all and (min-width: 975px) and (min-height: 975px) {
	html { font-size: 39px; }
	.uniformSquare, .uniformSquare2 {
		height: 975px;
		width: 975px;
	}  
}

@media all and (min-width: 1000px) and (min-height: 1000px) {
	html { font-size: 40px; }
	.uniformSquare, .uniformSquare2 {
		height: 1000px;
		width: 1000px;
	}  
}

@media all and (min-width: 1025px) and (min-height: 1025px) {
	html { font-size: 41px; }
	.uniformSquare, .uniformSquare2 {
		height: 1025px;
		width: 1025px;
	}  
}

@media all and (min-width: 1050px) and (min-height: 1050px) {
	html { font-size: 42px; }
	.uniformSquare, .uniformSquare2 {
		height: 1050px;
		width: 1050px;
	}  
}

@media all and (min-width: 1075px) and (min-height: 1075px) {
	html { font-size: 43px; }
	.uniformSquare, .uniformSquare2 {
		height: 1075px;
		width: 1075px;
	}  
}

@media all and (min-width: 1100px) and (min-height: 1100px) {
	html { font-size: 44px; }
	.uniformSquare, .uniformSquare2 {
		height: 1100px;
		width: 1100px;
	}  
}

@media all and (min-width: 1125px) and (min-height: 1125px) {
	html { font-size: 45px; }
	.uniformSquare, .uniformSquare2 {
		height: 1125px;
		width: 1125px;
	}  
}

@media all and (min-width: 1150px) and (min-height: 1150px) {
	html { font-size: 46px; }
	.uniformSquare, .uniformSquare2 {
		height: 1150px;
		width: 1150px;
	}  
}

@media all and (min-width: 1175px) and (min-height: 1175px) {
	html { font-size: 47px; }
	.uniformSquare, .uniformSquare2 {
		height: 1175px;
		width: 1175px;
	}  
}

@media all and (min-width: 1200px) and (min-height: 1200px) {
	html { font-size: 48px; }
	.uniformSquare, .uniformSquare2 {
		height: 1200px;
		width: 1200px;
	}  
}

@media all and (min-width: 1225px) and (min-height: 1225px) {
	html { font-size: 49px; }
	.uniformSquare, .uniformSquare2 {
		height: 1225px;
		width: 1225px;
	}  
}

@media all and (min-width: 1250px) and (min-height: 1250px) {
	html { font-size: 50px; }
	.uniformSquare, .uniformSquare2 {
		height: 1250px;
		width: 1250px;
	}  
}

@media all and (min-width: 1275px) and (min-height: 1275px) {
	html { font-size: 51px; }
	.uniformSquare, .uniformSquare2 {
		height: 1275px;
		width: 1275px;
	}  
}
@media all and (min-width: 1300px) and (min-height: 1300px) {
	html { font-size: 52px; }
	.uniformSquare, .uniformSquare2 {
		height: 1300px;
		width: 1300px;
	}  
}

@media all and (min-width: 1325px) and (min-height: 1325px) {
	html { font-size: 55px; }
	.uniformSquare, .uniformSquare2 {
		height: 1325px;
		width: 1325px;
	}  
}


@media all and (min-width: 1350px) and (min-height: 1350px) {
	html { font-size: 54px; }
	.uniformSquare, .uniformSquare2 {
		height: 1350px;
		width: 1350px;
	}  
}

@media all and (min-width: 1375px) and (min-height: 1375px) {
	html { font-size: 55px; }
	.uniformSquare, .uniformSquare2 {
		height: 1375px;
		width: 1375px;
	}  
}


@media all and (min-width: 1400px) and (min-height: 1400px) {
	html { font-size: 56px; }
	.uniformSquare, .uniformSquare2 {
		height: 1400px;
		width: 1400px;
	}  
}

@media all and (min-width: 1425px) and (min-height: 1425px) {
	html { font-size: 57px; }
	.uniformSquare, .uniformSquare2 {
		height: 1425px;
		width: 1425px;
	}  
}

@media all and (min-width: 1450px) and (min-height: 1450px) {
	html { font-size: 58px; }
	.uniformSquare, .uniformSquare2 {
		height: 1450px;
		width: 1450px;
	}  
}

@media all and (min-width: 1475px) and (min-height: 1475px) {
	html { font-size: 59px; }
	.uniformSquare, .uniformSquare2 {
		height: 1475px;
		width: 1475px;
	}  
}


@media all and (min-width: 1500px) and (min-height: 1500px) {
	html { font-size: 60px; }
	.uniformSquare, .uniformSquare2 {
		height: 1500px;
		width: 1500px;
	}  
}