@import 'variables.css.scss';

#jus_header {
	position: relative;
	width: 100%;
	height: $header-height;
	background-color: #FFFFFF;

	z-index: 10;

	font-family: "Trade Gothic Condensed Bold";
}

#jus_logo {
	position: absolute;
	height: $header-height - 1.5em;
	padding: 0.625em;
	padding-top: 0.625em;
	padding-bottom: 0.625em;
	width: auto;
	float: left;
	clear: both;
	z-index: 100;

}

#ruler {
	position: fixed;
	top: 0em;
	left: 0;
	width: 10.975em;
	height: 13.75em;
	background-color: transparent;
	opacity: 0.5;
	z-index: 10000;
	display: none;
}


#linksBG{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 3.75em;
	background-color: #FFFFFF;
	opacity: 0.9;

}

#droplets {
	position: absolute;
	left: 4em;
	top: 3.15em;
	height: 0.42em;
	width: auto;
	z-index: 20;
}

#slogan {
	position: absolute;
	left: 4em;
	top: 2.15em;
	height: 0.81em;
	width: auto;
	z-index: 20;
}

#links {
	position: absolute;
	
	padding-bottom: 0.5em;
	padding-right: 0.25em;
	top: 0;
	bottom: 0;
	height: 100%;
}

.hidden { 
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	font-size: 0;
}

.nav_link {

	
	.nav_label {
	float: left;
	position: relative;
	top: 0.28em;
	font-size: 0.45em;
	
	padding-right: 0.75em;

	cursor: pointer;
	color: #AAAAAA;
}


	margin-top: 0.05em;
	margin-bottom: 0.05em;
	padding-top: 0.125em;
	padding-bottom: 0.125em;
	padding-right: 0.25em;
	
	font-size: 1.35em;	
	top:3.65em;
	position: relative;
	float: left;
	clear: both;
	background-color: transparent;
	font-family: "Trade Bold" ;

	&:hover {
		background-color: rgba(150, 150, 150, 0.25);

		.bullet_dot {
			background-image: url('bullet-dot-hover.png');
		}

		.bullet_drop {
			background-image: url('bullet-drop-hover.png');
		}

		.nav_label {
			color: #C60F47;
		}

	}
}

.selected, .permanent_selected {

	cursor: normal!important;
	background-color: rgba(100, 100, 100, 0.75)!important;

	.bullet_dot {
		background-image: url('bullet-dot-selected.png');
	}

	.bullet_drop {
		background-image: url('bullet-drop-selected.png');
	}

	.nav_label {
		color: #FFFFFF !important;
	}

}

.nav_sublink {

	margin-top: 0.07em;

	.nav_label {
	float: left;
	position: relative;
	top: 0.25em;
	font-size: 0.45em;
	padding-right: 0.75em;

	cursor: pointer;
	color: #AAAAAA;
}



	font-size: 1.25em;

	top:0.18em;
	padding-top: 0.0125em;
	padding-bottom: 0.0125em;
	padding-right: 0.25em;
	
	background-color: transparent;
	position: relative;
	float: left;
	clear: both;

	font-family: "Trade Regular";

	&:hover {
		background-color: rgba(150, 150, 150, 0.25);

		.bullet_dot {
			background-image: url('bullet-dot-hover.png');
		}

		.bullet_drop {
			background-image: url('bullet-drop-hover.png');
		}

		.nav_label {
			color: #C60F47;
		}

	}
}



.bullet_drop {
	float: left;
	margin: 0.25em;
	margin-top: 0.16em;
	margin-bottom: 0.22em;
	margin-left: 1.3em;
	margin-right: 0.74em;
	background-image: url('bullet-drop.png');
    background-repeat: no-repeat;
    background-position: center; 
 	background-size: contain;
 	position: relative;
 	width: 0.325em;
 	height: 0.45em;


	&:hover {
		
		background-image: url('bullet-drop-hover.png');

	}
}



.bullet_dot {
	float: left;
	margin: 0.25em;
	margin-right: 0.9em;
	margin-left: 1.45em;
	background-image: url('bullet-dot.png');
    background-repeat: no-repeat;
    background-position: center; 
 	background-size: contain;
 	position: relative;
 	width: 0.24em;
 	height: 0.24em;

	&:hover {
		
		background-image: url('bullet-dot-hover.png');
	}
}




#social {
	position: absolute;
	right: 1em;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 1em;
	
}

.social_icon {
	height: 0.88em;
	margin-right: 0.1em;

	&:hover {

	filter:  invert(25%);
     -webkit-filter:  invert(25%);
     -moz-filter: invert(25%);
     -ms-filter: invert(25%);
     -o-filter: invert(25%);
	}
}

#header_mail {
	
	position: absolute;
	top: 2.75em;
	right: 0.22em;
	font-size: 0.475em;
	font-family: "Trade Regular";
	color: #141414;

	&:hover {
		color: #666666;
	}
}


#footer_mail {
	position: absolute;
	
	
	color: #888888;

	&:hover {
		color: #B3B3B3;
	}

}


/* FOOTER */

#footer_logo {
	height: $header-height - 3em;
	padding: 1.2em;
	padding-top: 1em;
	padding-bottom: 0em;
	width: auto;
	float: left;
	clear: both;

}

.footer_icon {
	opacity: 1;

}

#jus_footer {
	position: relative;
	width: 100%;
	height: $header-height - 1em;
	background-color: #282828;
	color: #666666;

	z-index: 10;
}

#company_contact {
	position: absolute;
	font-size: 0.5em;
	left: 25.5em;
	top: 2.75em;
	line-height: 1.5em;
	color: #888888;
}

#company_info {
	position: absolute;
	font-size: 0.5em;
	left: 7.5em;
	top: 2.75em;
	line-height: 1.5em;
	color: #888888;;
}

#language {
	position: absolute;
	right: 1.15em;
	top: 1em;
	height: 1em;
	
	width: 4em;
	text-align: right;
}

.language_selection {
	float: right;
	margin-left: 0.75em;
	cursor: pointer;
	&:hover {
		.language_bullet {
			background-color: #C60F47;
		}
	}
}

.language_name {
	font-size: 0.55em;
	font-family: "Trade Regular";
	float: left;
	color: #1d1d1b;
	position: relative;
}

.language_bullet {
	position: absolute;
	top: -0.2em;
	bottom: 0;
	left: -0.7em;
	height: 0.4em;
	width: 0.4em;
	
	
	margin-top: auto;
	margin-bottom: auto;

	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;

	background-color: #d1d1d1;
}

.active_language {
	cursor: normal;
	.language_bullet {
		background-color: #1d1d1b !important;		
	}
}


