@import 'variables.css.scss';

/* General */
body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	color: $font-color;

}

html, body {
	height: 100%;
	margin: 0;
	background-color: $main-background-color;
	font-family: $main-font;

}

.parallax_frame {
	position: relative;
	float: left;
	height: 100%;
	width: 100%;
	
	text-align: center;

}


#webglbg {
	background-color: blue;
}

#webglbg_foreground {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	width: auto;
	height: auto;
	background-color: #ffffff;
	opacity: 0.75;
}


#webglbg_frame {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	width: auto;
	height: auto;

}

#description {
	background-color: black;
	color: white;
}

/* Sections */

.LeftColumn {
	
	position: relative;
	width: 30%;
	float: left;
	text-align: left;
	
}

.RightColumn {
	
	position: relative;
	width: 69%;
	float: left;
	;	
}

.RightColumnInnerFrame {
	text-align: left;
	position: absolute;
	top: 0;
	left: 2em;
	bottom: 0;
	right: 2em;
	margin: 0;

}

#information {
	
}

#coz_logo {
	margin-top: 2em;
	margin-left: 2em;
	padding-bottom: 10%;
	height: auto;
	width: 75%;
}

#whatIsCoz {
	margin-top: 2.2em;


}

#valueProposition {

}

#customerSegments {

}

.SubContent {
	border: 0px solid red;
	
	margin-bottom: 1em;
	
	font-size: 110%;
}

#services {
	
}

#team {
	
}

#contact {
	
}
