@import 'variables.css.scss';

/* General */
body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	color: $font-color;

}

html, body {
	height: 100%;
	margin: 0;
	background-color: $main-background-color;
	font-family: "Trade Regular";

}

.parallax {
	position: relative;
	
	text-align: left;
	display: block;
	padding-top: 2em;
	padding-bottom: 0.5em;
}



#description {
	background-color: black;
	color: white;
}

/* Sections */

.LeftColumn {
	
	position: relative;
	baseline: top;
	line-height: 100%;
	vertical-align: top;
	text-align: center;
	display: inline-block;
	padding-bottom: 1.75em;
}

.RightColumn {
	
	position: relative;
	
	display: inline-block;
	text-shadow: 1px 1px 0px $fontshadow, -1px -1px 0px $fontshadow; 
}

.LeftLabel {
	
	text-align: left;
	
	
	line-height: 1em;
	font-family: "Raleway Bold";
	
}



#information {

	border-bottom: 5px dashed #ffffff
}

.fifty {
	width: 50%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
	position: absolute;

}

.SubRow {
	
	margin-bottom: 1.25em;
	
}

.LastRow {
	margin-bottom: 0;
}

.SubColumn {
	
	display: inline-block;
	vertical-align: top;

}


.LastColumn {
	margin-right: 0em;
}



#services {
	border-bottom: 5px dashed #ffffff;
}


#contact {
	position: relative;
	line-height: 0;
	background-color: #FFFFFF;
	padding-bottom: 0;
	padding-top: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}

#contact_bg {
	position: absolute;
	min-width: 100%;
	
	
	left: -100%;
	right: -100%;
	margin-left: auto;
	margin-right: auto;

	
	
	top: 0.8em;
}



#contact_centered_frame {
	position: absolute;
	left: 0;
	right: 0;
	
	bottom: 0;
	width: 20em;
	height: 11em;
	margin: auto;
	
}


#contact_info {
	color: #505050;
	position: absolute;
	height: 1em;
	left: 0.7em;
	right: 0.5em;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	top: 9.5em;

}




#philosophy_area {
	margin-top: 0.5em;
	
	width: 110%;
}

.philosophy_frame {

	
	float: left;
	width: 43%;
	text-align: left;
	margin-top: 0.5em;
	margin-top: 1.5em;


}

.left_p_frame {
	margin-right: 1.5em;
}

.philosophy_label {

	float: left;
	width: 66%;
	height: 1em;
	font-size: 2vw;
	margin-bottom: 0.7em;
}

.philosophy_desc {

	float: left;
	font-size: 1.4vw;
	width: 60%;
	height: 4em;
}

.philosophy_symbol {

	width: 22%;
	height: auto;
	padding-bottom: 1em;
	float: left;
	margin-right: 2vw;
}

#coldpressed_chart {
	text-align: left;
	width: 80%;
	padding-right: 20%;
	height: auto;
}











