@import 'variables.css.scss';

/* General */
body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	color: $font-color;

}

html, body {
	height: 100%;
	margin: 0;
	background-color: $main-background-color;
	font-family: $main-font;

}

.parallax {
	position: relative;
	
	text-align: left;
	display: block;
	padding-top: 2.5em;
	padding-bottom: 3em;
}


#webglbg {
	background-color: blue;
}

#webglbg_foreground {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	width: auto;
	height: auto;
	background-color: #ffffff;
	opacity: 0.75;
}


#webglbg_frame {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	width: auto;
	height: auto;

}

#description {
	background-color: black;
	color: white;
}

/* Sections */

.LeftColumn {
	
	position: relative;
	baseline: top;
	line-height: 100%;
	vertical-align: top;
	text-align: center;
	display: inline-block;
	padding-bottom: 1.75em;
}

.RightColumn {
	
	position: relative;
	
	display: inline-block;
	text-shadow: 1px 1px 0px $fontshadow, -1px -1px 0px $fontshadow; 
}

.LeftLabel {
	
	text-align: left;
	
	
	line-height: 1em;
	font-family: "Raleway Bold";
	
}

#information {

	border-bottom: 5px dashed #ffffff

}

#coz_logo_frame {
	padding-bottom: 1em;
}

#coz_logo {
	
	
	
	height: auto;
	width: 80%;
	display: block;

}

.fifty {
	width: 50%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
	position: absolute;

}

#whatIsCoz {
	margin-top: 1em;


}

#valueProposition {

}

#customerSegments {

}

.SubRow {
	
	margin-bottom: 1.25em;
	font-size: 110%;
	font-size: 0.8em
}

.LastRow {
	margin-bottom: 0;
}

.SubColumn {
	
	display: inline-block;
	vertical-align: top;

}


.LastColumn {
	margin-right: 0em;
}



#services {
	border-bottom: 5px dashed #ffffff;
}

#team {
	border-bottom: 5px dashed #ffffff;
	padding-bottom: 0em;
}

.ProfileColumn {
	

	margin-left: 0;
	margin-right: 0;
	
	display: inline-block;
	
	overflow: visible;
	position: relative;
	cursor: pointer;
	&:hover{
		.ProfileHover {
			background-color: #FFFFFF;
		}
	}
}

.ProfilePicture {
	position: absolute;
	width: 100%;
	z-index: 2;
}

.ProfileHover {
	position: absolute;
	top: -1em;
	height: 0.3em;
	width: 0.3em;
	left: -0.2em;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.2em;
	background-color: $main-background-color;
}


#contact {
	position: relative;
	line-height: 0;
	background-color: #FFFFFF;
	padding-bottom: 0;
	padding-top: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}

#contact_bg {
	position: absolute;
	min-width: 100%;
	
	
	left: -100%;
	right: -100%;
	margin-left: auto;
	margin-right: auto;

	
	
	top: 0.8em;
}

#contact_cloud {
	width: 100%;
	position: absolute;
	top: 0;
}

#contact_centered_frame {
	position: absolute;
	left: 0;
	right: 0;
	
	bottom: 0;
	width: 20em;
	height: 11em;
	margin: auto;
	
}

#watermark_logo {
	position: absolute;
	height: 8em;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 0;
}

#contact_info {
	color: #505050;
	position: absolute;
	height: 1em;
	left: 0.7em;
	right: 0.5em;
	text-align: center;
	top: 9.5em;

}


