@import 'variables.css.scss';

/* General */
body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

html, body {
	height: 100%;
	margin: 0;
	background-color: $main-background-color;
	font-family: $main-font;

}

.parallax_frame {
	position: relative;
	float: left;
	height: 100%;
	width: 100%;
	
	
	text-align: center;

}


#webglbg {
	background-color: blue;
}

#webglbg_foreground {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	width: auto;
	height: auto;
	background-color: #ffffff;
	opacity: 0.75;
}

#coz_logo_frame {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 2em;
	margin: auto;
	width: 15em;
	height: 6em;
	display: block;
}

#coz_logo {
	height: 100%;
	width: 100%;
}

#webglbg_frame {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	width: auto;
	height: auto;

}

#description {
	background-color: black;
	color: white;
}

/* Sections */

#whatIsCoz {
	background-color: red;
}

#valueProposition {
	background-color: red;
}

#customerSegments {
	background-color: red;
}

#services {
	background-color: red;
}

#people {
	background-color: red;
}

#contact {
	background-color: red;
}
