/* background setup */


/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen{
    height:100%;
    overflow:hidden;
}

/* content centering styles */

/* visual styles */
body{
    text-align:center;
}

