.JuiceFrame {
	
	position: relative;

}

.JuiceHeader {
	float: left;
	clear: both;
	position: relative;
	font-family: "Trade Bold";
	margin-bottom: 0.75em;
}

.JuiceGlyph {
	margin-left: 0.5em;
	padding-top: 0.6em;
	position: relative;
	font-size: 0.65em;
	float: left;
	width: 2.75em;
	height: auto;
	
}

.cleansePrice {
	font-family: "Trade Regular";
	color: #777777;

}

.JuiceTitle {
	margin-top: 0.25em;
	margin-left: 1.75em;
	position: relative;
	float: left;
	
}

.JuiceContent {
	position: relative;
	clear: left;
	
}

.JuiceBottle {
	
	position: relative;
	float: left;
	height: auto;
	width: 2.7em;
	margin-left: -0.35em;
	margin-top: -0.3em;
	padding-bottom: 3em;
	margin-right: 0.75em;
}

.JuiceIngredients{
	
	position: relative;
	float: left;
	padding-bottom: 3em;
	margin-left: 0.5em;
}

.Ingredient{
	position: relative;
	clear: both;
}

.IngredientMargin {
	padding-top: 0.5em;
}

.IngredientIconFrame {
	position: relative;
	width: 100%;
	top: 0.1em;
	float: left;
	height: 1em;
	width: 1em;
	margin: 0.25em;
	margin-bottom: 0.25em;
	margin-top: 0em;
	text-align: center;
}

.IngredientIcon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto; 
	max-width:100%;
	max-height:100%;
}

.IngredientLabel{
	float: left;
	font-size: 0.65em;
	padding-top: 0.3em;
	padding-left: 0.2em;
}

.JuiceDescription {
	
	position: absolute;
	left: 18em;
	right: 0;
	top: 0em;
	font-size: 0.8em; 
	padding-top: 0.28em;
	padding-bottom: 4.3em;
	color: #777777;
}
