.shopifyBuy {

}

.addButton {

	position: absolute;
	padding-top: 0.3em;
	padding-bottom: 1.1em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	-webkit-appearance:none !important;
	border: none;
	margin-left: 0em;
	right: -7em;
	height: 1.75em !important;
	top: 0.1em;
	bottom:0;
	margin-top: auto;
	margin-bottom: auto;
	cursor: pointer;
	font-size: 0.7em;
	background-color: #474747;
	color: #FAFAFA;
	font-family: "Trade Regular";
	&:hover{
		color: #FFFFFF;
		background-color: #2e2e2e;
	}
	z-index: 1000;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
}

.cleanseAdd {
	top: -0.2em !important;
}

.JuiceFrame {
	
	position: relative;

}

.JuiceHeader {
	float: left;
	clear: both;
	position: relative;
	font-family: "Trade Bold";
	margin-bottom: 0.75em;
}

.JuiceGlyph {
	margin-left: 0.5em;
	padding-top: 0.7em;
	position: relative;
	font-size: 0.65em;
	float: left;
	width: 2.75em;
	height: auto;
	
}

.cleansePrice {
	font-family: "Trade Regular";
	color: #777777;

}

.JuiceTitle {
	margin-top: 0.25em;
	margin-left: 1.75em;
	position: relative;
	float: left;
	
}

.JuiceContent {
	position: relative;
	clear: left;
}

.JuiceBottle {
	
	position: relative;
	float: left;
	height: auto;
	width: 2.7em;
	margin-left: -0.35em;
	margin-top: -0.3em;
	padding-bottom: 3em;
	margin-right: 0.75em;
}

.JuiceIngredients{
	
	position: relative;
	float: left;

	padding-bottom: 5em;
	margin-left: 0.5em;
	width: 5em;
	height: 100%;
}

.Ingredient{
	position: relative;
	clear: both;

}

.IngredientMargin {
	padding-top: 0.5em;
}

.IngredientIconFrame {
	position: relative;
	width: 100%;
	top: 0.1em;
	float: left;
	height: 1em;
	width: 1em;
	margin: 0.25em;
	margin-bottom: 0.25em;
	margin-top: 0em;
	text-align: center;
}

.IngredientIcon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto; 
	max-width:100%;
	max-height:100%;
}

.IngredientLabel{
	float: left;
	font-size: 0.65em;
	padding-top: 0.3em;
	padding-left: 0.2em;
}

.JuiceDescription {
	
	position: relative;
	left: 0em;
	font-size: 0.8em; 
	padding-top: 0.28em;
	padding-bottom: 4.3em;
	color: #777777;
	margin-left: 18em;
}
