$main-font: "Gotham Round Book", "Arial";


/* GRID MEASUREMENTS */
$unit: 10px;

/* MAIN COLORS */
$dark-background-color: #1E1E20;
$red-card-color: #EE3B61;
$black-card-color: #7C7D7D;
$faded-gray: #59595A;
$bright-gray: #CCCCCB;
$mild-black: #4f504f;

$logo-o-color: #a6a6a6;
$buttons-opacity: 0.8;

$main-background-color: #09d0fb;
$font-color: #ffffff;

/* EXTENDED COLOR THEME */
$color1: #3FED84;
$color2: #95A3E8;
$color3: #EEEEEE;
$color4: #95E8BD;
$color5: #B8FF9D;
$color6: #008500;
$color7: #67E667;
$color8: #000000;
$color9: #080D0B;
$color10: #000403;
$color11: #66FFA3;
