<div id="section3"></div>

<div id="" class="parallax">
    
    <div class="RightColumn">

    	<div class="ColumnTitle anchorLink">Delivery</div>

    	<%= render "section_seperator" %>

        <div id="" class="SubRow">
            <div class="LowerTitle">Why does JÜS use glass bottles?</div></br>
                The decision to use glass bottles is part of the broader mission at JÜS to provide you with the healthiest and most delicious product possible.
                </br></br>
                To us, the decision is easy – only glass could bring our high­-caliber juices to you in the safest way possible, preserving the nutritional integrity of the juices while bolstering your lifestyle and dietary goals. Cold­-pressed juice is produced in a process that requires focus, detail and labor. A lot of intention goes into each drop, so if we are going as far to offer you juice of such quality, why stop there?
                </br></br>
                We took into consideration the realities of plastic waste management in Istanbul and both the known and unknown harms associated with plastic, which is made from petroleum byproducts, and went with what we felt would be best for both our customers and the environment’s well­being. We decided on glass.
                </br></br>
                We are proud of our 100% recyclable glass bottles. They are strong, bold and beautiful. Our customers often tell us that the glass bottles even make our cold­-pressed juice taste better! We have also set up a glass bottle return and rewards program. For every 12 bottles returned, clients are rewarded with a 500ml cold­-pressed juice of their choice. We take used bottles, clean and sanitize them and then fill them with more amazing juice. For us, this program offsets the resources used to create the glass bottles and helps instill a value of reusing.
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">What neighborhoods do you deliver to, and when?</div></br>
                For delivery questions, please contact us: <b><%= link_to "info@jusistanbul.com" , "mailto:info@jusistanbul.com", target: "_blank" %></b>.
                </br></br>
        </div>

	</div>

</div>