<div id="section1"></div>

<div id="" class="parallax nopadding_parallax">
    
    <div class="LeftColumn">
    	
    </div>
    <div class="RightColumn">

    	<div class="ColumnTitle anchorLink">FAQ</div>

    	<%= render "section_seperator" %>

        <div id="" class="SubRow">
            <div class="LowerTitle">Why doesn’t JÜS list calories?</div></br>
                Counting calories is neither part of a lifestyle we promote nor is a motivating approach to food.
                </br></br>
                The produce we use is fresh, raw and mostly organic, complementing a healthy lifestyle and infusing you with living enzymes and unmatched energy. The calorie system can never do justice to our juices, which are full of Mother Nature’s finest creations. 
                </br></br>
                The calorie system is antiquated, restrictive and misleading. Using calories as a measurement of health or true, lasting weight loss would show a lack of understanding of the variety in our lives. Each calorie is different, with some easier for the body to process than others. Calories, large or small, are not trustworthy indicators of whether or not a food or drink is healthy and meaningful for our diet. Shed the belief that “zero calories”, “fat-free” and “carb-free” are desirable features of food and drinks. Do not let false marketing control your dietary needs. 
                </br></br>
                However, if you are absolutely keen on knowing the caloric content of our juices, please contact us to talk about this topic more in-depth and get the information you need: <b><a>info@jusistanbul.com</a></b>
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">Why does JÜS use glass bottles? </div></br>
                The decision to use glass bottles is part of the broader mission at JÜS to provide you with the safest and most delicious product possible.
                </br></br>
                We package in glass because it is the safer material to house our life-force energy elixirs for human consumption. Cold-pressed juice is produced in a process that requires focus, detail and labor. A lot of intention goes into each drop. If we are going as far to offer you juice of such quality, why stop there? To us, the decision is easy – only glass could bring our high-caliber juices to you in the safest way possible that preserves the nutritional integrity of the juices while bolstering your lifestyle and dietary goals.
                </br></br>
                We took into consideration the realities of plastic waste management in Istanbul and both the known and unknown harms associated with plastic, which is made from petroleum byproducts, and went with what we felt would be best for both our customers and the environment’s well-being. We decided on glass. 
                </br></br>
                We are proud of our 100% recyclable glass bottles. They are strong, bold and beautiful. Our customers often tell us that the glass bottles even make our cold-pressed juice taste better! We have also set up a glass bottle return and rewards program. For every 12 bottles returned, clients are rewarded with a 500ml cold-pressed juice of their choice. We take used bottles, clean and sanitize them and then fill them with more amazing juice! For us, this program offsets the resources used to create the glass bottles and helps instill a value of reusing.
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">Does JÜS use organic ingredients?</div></br>
                Yes. Whenever we can, we use organic ingredients. We believe in supporting local organic farmers as well as protecting the pureness of our juices. Seasonal restraints make it virtually impossible to offer a 100% organic product year-round. However, it is our mission to offer you the most organic juices possible, and for that, we are constantly working to source organic produce. 
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">Why doesn’t JÜS list calories?</div></br>
                Fake it ‘til you make it! Seriously. Not that it has to taste bad, but green juice shouldn’t taste like a fruity cocktail – it should taste mostly like greens and veggies with a bit of lemon and apple to cut any bitterness. You may not be familiar with the taste of green juice at first, but trust us, it’s a slippery slope to green juice obsession - soon enough, you won’t be able to live without it. We have traversed the globe in search of cold-pressed green juices and have brought our knowledge to the JÜS table so that we properly pair taste with green leaf nutrition. All of our juices are made with love and are meant to support your body’s many functions. Let us know what you think about our green (and other) juices:  <b><a>info@jusistanbul.com</a></b>
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">Does JÜS use sweeteners?</div></br>
                The JÜS team is well-aware of buzz-worthy superfoods and miracle sweeteners on the market. However, we’ve done our research and are equipped with a resident certified nutritionist to tell us like it is. 
                </br></br>
                We depend on the natural sweetness of raw fruits and starchy vegetables to complement our juices. We only add sweetener to our “mylks” and Limonata. Our choice is stevia. Stevia derives from the stevia leaf and has been used medicinally for centuries. It is 300-times sweeter than regular sugar, so a little goes a long way. We use liquid stevia, a clear, non-bitter form of stevia that adds that extra sweet deliciousness.
                </br></br>
                In studies, stevia has shown to have anti-hypertensive, anti-inflammatory, anti-diarrheal, anti-tumor, diuretic and immunomodulatory effects.  
                </br></br>
                From years of personal experience, extensive research and taste, we have determined stevia to be the downright best choice when it comes to your well-being. 
                </br></br>
                The popular, so-called “healthy” sweeteners such as agave are often marketing ploys. Agave is a heavily-processed syrup (despite claims, it is never truly “raw”). It was once touted as a low-glycemic sweetener, meaning it won’t cause spikes in your blood sugar levels like regular white sugar. However, what’s more important than the glycemic index is the level of fructose in it. Agave contains more fructose than any other common sweetener, including high-fructose corn syrup. Fructose converts to fat more easily than glucose and poses a danger to your cardiovascular system. It’s safe to say that agave has and never will be on our menu.
                </br></br>
                Now, don’t let this “fructose” talk get you scared of fruit juices. Remember, fruits are the unprocessed, untainted products of Mother Nature. Our juices are thoughtfully balanced between with vegetable juices so you never have to worry.
                </br></br>
                Honey, in its raw state, is a superfood that has incredible medicinal force. However, it has a high-glycemic index and will cause spikes in your blood-sugar levels. Additionally, it is not animal-friendly. 
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">For how long can I keep the juices?</div></br>
                The juices last 3 days from delivery. They require refrigeration. 
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">How should I store the juices?</div></br>
                JÜS products are unpasteurized and thus highly perishable. For this reason, all of our juices require refrigeration.
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">How big are the bottles?</div></br>
                We offer juices in 500ml and 200ml glass bottles. We also provide 75ml shot glasses for our special, highly-potent elixirs.  
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">I thought the body was capable of detoxifying itself, why do I need Juico cleanses?</div></br>
                In an ideal world, none of us would need to resort to an out-of-the-ordinary measure to cleanse our systems. However, if you take a look around, it’s easy to realize how unnatural our world has become. Each day we are undulated with toxins from the environment, from the processed foods we eat and from various office and household pressures. Our bodies undergo severe stress and suffer because of it - our adrenal glands are exhausted, our organs do not perform at their peak, we gain extra weight and our skin loses its natural glow. Our bodies could use a little help, and changing our diets is the most immediate and effective way to turn the tide. A juice cleanse or the simple addition of a green juice to our daily diet is a sure-fire way to get the nutrition our bodies so wildly crave. 
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">How do I prepare for a cleanse?</div></br>
                Please visit our cleanses section for more information about how to prepare for a cleanse. 
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">Does a one-day cleanse do anything?</div></br>
                Put simply: a one-day cleanse is the start, not the finish. Cleansing for one day is meant to introduce your body to cold-pressed juices and motivate you to incorporate them into your everyday diet. A one day cleanse is effective if repeated at least once per month. For those who cleanse less often, we recommend a 3-day cleanse every couple months. However, cleansing for one day is better than not cleansing at all, so it really doesn’t matter how often you do it - as long as you do it, that is. 
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">Should I cleanse during the week or in the weekend?</div></br>
                You should cleanse whenever you feel a cleanse would best complement your schedule. During your cleanse, you should be distracted by life, not your appetite, and should be as relaxed as possible without constant exposure to temptations. For some, this is during the workweek. For others, this is during the weekend. We recommend doing a cleanse with a friend so that you can hold each other accountable and motivate each other along the way. 
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">Who shouldn’t do a full day juice cleanse?</div></br>
                We recommend that children, pregnant women and elders not cleanse. Anyone who has a medical condition that requires regular doctor visitations and/or the intake of prescription drugs should consult a doctor before taking on a cleanse. If you are unsure whether a cleanse is a healthy choice for you, please consult a doctor or obtain further information from us: <b><a>info@jusistanbul.com</a></b>
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">How much weight will I lose?</div></br>
                This will vary depending on your physical constitution and dietary background. Our cleanses are meant to support your reaching your ideal weight. If weight loss is your goal, JÜS offers nutrition consultations catered to your individual goals. For information about private session with our founder and certified clinical nutritionist Aylin Erman, please contact us: <b><a>info@jusistanbul.com</a></b>
                </br></br>
        </div>

	</div>

</div>