<div id="section2"></div>

<div id="" class="parallax">
    
    <div class="RightColumn">

    	<div class="ColumnTitle anchorLink">Cleansing</div>

    	<%= render "section_seperator" %>

        <div id="" class="SubRow">
            <div class="LowerTitle">Why do I need to cleanse – isn’t that too extreme?</div></br>
                No, it is not. Cleansing is an ancient practice used by many cultures for thousands of years. Sure, it has been picking up
                </br></br>
                We offer a range of cleanses in order to complement every kind of lifestyle. We often eat more than we actually realize or need, and much of what we consume includes simple starches, white sugars and flours, processed foods, additives, stabilizers, preservatives, hydrogenated oils, overcooked oils, trans fats, wheat, gluten, animal protein and other animal byproducts. Sometimes it’s helpful to take a break from your regular diet, letting your body do what it does best: repair itself without distraction.  
                </br></br>
                A juice cleanse is when you subsist entirely on raw fruit and vegetable juices for a certain amount of time. It is a great way to give your digestive system a break,  so that you body can work on other bodily processes, like clearing up skin, healing organs and repairing tissue.
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">How long should I cleanse for?</div></br>
                We suggest taking part in a 1­ day cleanse each month for consistent benefits. If you would like to cleanse less often, but still see results, we suggest a 3­day long cleanse each turn of the season. For more intense cleansing, please consult our resident nutritional expert for a consultation: aylin@jusistanbul.com
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">How do I prepare for a cleanse?</div></br>
                Before (1­2 days prior):</br>
                ∙ Eat plenty of raw fruits and vegetables</br>
                ∙ Do not consume animal protein</br>
                ∙ Chew your food well</br>
                ∙ Avoid starches (bread, rice, potatoes)</br>
                ∙ Drink lots of water</br>
                ∙ Avoid caffeine and alcohol</br>
                ∙ Don’t consume anything except water at least 3 hours before bed.</br></br>
                During:</br>
                ∙ The numbers circled on the lids of our bottles guide you through the cleanse follow them in order, from 1 to 6.</br>
                ∙ Consume the first juice of your cleanse when you start to feel hungry. Take note of your body’s “true” hunger signals.</br>
                ∙ Aside from the juices provided, you may only consume water and herbal tea.</br>
                ∙ It is okay to exercise moderately, but try to do so in the morning.</br>
                ∙ Occupy your day with your usual matters so that the cleanse is not the center of your focus. Enjoy the juices and stay positive. You are doing your body the greatest of favors!</br></br>
                After (1­2 days)</br>
                ∙ Continue to enjoy cold­-pressed juices as part of your new lifestyle, drinking them on an empty stomach in the morning.</br>
                ∙ Eat lightly – focus on fresh fruits, vegetables, nuts, seed and legumes.</br>
                ∙ Avoid excessive oils, animal protein, rice, bread and potatoes.</br>
                ∙ If you’d like to eat dessert, opt for dark chocolate.</br></br>
                Disclaimer: It is important to consult a doctor and do your own personal research about the risks involved with cleansing. We are not meant to replace professional medical advice and can only speak from our own experiences and those of others. Please consult a doctor with any questions or symptoms you may feel before, during, or after a cleanse.
                

                </br></br>
        </div>

    

	</div>

</div>