<div id="section1"></div>

<div id="" class="parallax nopadding_parallax">
    
    <div class="RightColumn">

    	<div class="ColumnTitle anchorLink">Juices</div>

    	<%= render "section_seperator" %>

        <div id="" class="SubRow">
            <div class="LowerTitle">I’m still confused about “cold pressed” versus traditional juicing processes. Can you explain more?</div></br>
                Traditional (centrifugal) juicing processes involve extensive friction (heat), which destroys the enzymes and nutrients within the fruits and vegetables.
                </br>
                <%= image_tag "norwalk-graphic.png", id: "norwalk-graphic" %>
                </br></br>
                Our juices are cold­pressed. Using a Norwalk Juice Press (the premier juice press on the market), fresh fruits and vegetables are slowly broken down and then pressed so that they never endure heat. Cold­pressed juices are better for your health and have a longer shelf life than those made using traditional juicers.                
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">Pressed juices don’t contain fiber, but isn’t it important for my health and detoxing?</div>
                </br>
                First, let’s distinguish between a juice and smoothie.</br></br>
                Smoothies are blended fruits and vegetables – the fiber remains intact. Because smoothies are fiber containing, they aid in digestion and help lightly detoxify your body. Juices are the nectar of fruits and vegetables, separated from the pulp (fiber). Juices are highly detoxifying and don’t require digestion – their nutrition quickly enters into your bloodstream, offering you almost instant benefits.
                </br></br>
                The key difference between juices and smoothies is that juices give your body a break from the exhaustive digestion process. In doing so, your body can focus on repairing and healing – improving your complexion, reducing bloat, clearing mind fog, strengthening your hair and nails, supporting regularity, helping you to lose unwanted weight and so much more.
                </br></br>
                Fiber is important, but juices are not meant to be the source – you can get plenty of fiber from a healthy diet full of fresh greens, vegetables, fruits, nuts, seeds and legumes. Cold­pressed juices are invaluable tools that are highly medicinal and cleansing. Without a doubt, we could all use cold­pressed juices in our lives. 
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">Does JÜS use organic ingredients?</div></br>
                What we’ve learned living in Istanbul and exploring the organic scene is that the label “organic” on certain products often holds little weight or is simply false advertising. For us, a cold­pressed juice is not “organic” if it contains 1 organic apple and 8 other conventional ingredients. We at JÜS strive to be as organic as possible, and we don’t take that responsibility lightly. Unfortunately, the reality in Istanbul is that both a lack of access, unjustifiable prices and seasonal restraints make it difficult to offer a completely organic product year­round. However, we are happy to work closely with organic farmers so that we can supply you with juices that are mostly organic, 100% of the time. If you have questions about the organic ingredients used in your JÜS juice, please contact us to ask: info@jusistanbul.com 
                </br></br>
        </div>

          <div id="" class="SubRow">
            <div class="LowerTitle">Does JÜS use sweeteners?</div></br>
                The JÜS team is well­aware of buzz­worthy superfoods and miracle sweeteners on the market. However, we’ve done our research and are equipped with a resident certified nutritionist to tell us like it is. 
                </br></br>
                We depend on the natural sweetness of raw fruits and starchy vegetables to complement our juices. Our choice is stevia. Stevia derives from the stevia leaf and has been used medicinally for centuries. It is 300­times sweeter than regular sugar, so a little goes a long way. We use liquid stevia, a clear, non­bitter form of stevia that adds that extra sweet deliciousness.
                </br></br>
                From years of personal experience, extensive research and taste, we have determined stevia to be the downright best choice when it comes to your well­being.  
                </br></br>
                From years of personal experience, extensive research and taste, we have determined stevia to be the downright best choice when it comes to your well-being. 
                </br></br>
                The popular, so­called “healthy” sweeteners such as agave are often marketing ploys. Agave is a heavily­processed syrup (despite claims, it is never truly “raw”). It was once touted as a low­glycemic sweetener, meaning it won’t cause spikes in your blood sugar levels like regular white sugar. However, what’s more important than the glycemic index is the level of fructose in it. Agave contains more fructose than any other common sweetener, including high­fructose corn syrup. Fructose converts to fat more easily than glucose and poses a danger to your cardiovascular system. It’s safe to say that agave has and never will be on our menu.
                </br></br>
                Now, don’t let this “fructose” talk get you scared of fruit juices. Remember, fruits are the unprocessed, untainted products of Mother Nature. Our juices are thoughtfully balanced between with vegetable juices so you never have to worry.
                </br></br>
               Honey, in its raw state, is a superfood that has incredible medicinal force. However, it has a high­glycemic index and will cause spikes in your blood­sugar levels. Additionally, it is not animal­friendly.
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">I’m not used to the taste of green juice. Now what?</div></br>
                Fake it ‘til you make it! Seriously. Not that it has to taste bad, but green juice shouldn’t taste like a fruity cocktail – it should taste mostly like greens and veggies with a bit of lemon and apple to cut any bitterness. You may not be familiar with the taste of green juice at first, but trust us, it’s a slippery slope to green juice obsession ­ soon enough, you won’t be able to live without it. We have traversed the globe in search of cold­pressed green juices and use the knowledge we developed to properly pair taste with green leaf nutrition. Let us know what you think about our green (and other) juices: info@jusistanbul.com</a></b>
                </br></br>
        </div>

      

        <div id="" class="SubRow">
            <div class="LowerTitle">Why doesn’t JÜS list calories?</div></br>
                The juices last 3 days from delivery. They require refrigeration. 
                </br></br>
                The produce we use is fresh, raw and mostly organic, complementing a healthy lifestyle and infusing you with living enzymes and unmatched energy. The calorie system can never do justice to our juices, which are full of Mother Nature’s finest creations.
                </br></br>
                The calorie system is antiquated, restrictive and misleading. Using calories as a measurement of health or true, lasting weight loss would show a lack of understanding of the variety in our lives. Each calorie is different, with some easier for the body to process than others. Calories, large or small, are not trustworthy indicators of whether or not a food or drink is healthy and meaningful for our diet. Shed the belief that “zero calories”, “fat­free” and “carb­free” are desirable features of food and drinks. Do not let false marketing control your dietary needs.
                </br></br>
                However, if you are absolutely keen on knowing the caloric content of our juices, please contact us for more information: info@jusistanbul.com
                </br></br>
        </div>

        <div id="" class="SubRow">
            <div class="LowerTitle">How long do the juices stay fresh?</div></br>
                The juices last 3 days from delivery and require refrigeration.
                </br></br>
        </div>

	</div>

</div>