<div id="section4"></div>


<div class="parallax">
    
    <div class="LeftColumn">
    	
    </div>
    <div class="RightColumn">

		<div class="ColumnTitle anchorLink">Juices</div>

		<%= render "section_seperator" %>


		<div id="" class="SubRow">

			JÜS products are consciously made and packaged. JÜS promotes the consumption of living, high-frequency fruit and vegetable juice, and therefore we mindfully press, bottle and sell a truly raw and unpasteurized product – unheated and untreated. All of our juices are handmade, unconcentrated, undiluted and without any additives, preservatives, flavorings or sugar.
			</br></br>
			
		</div>
	</div>

	<div id="products_frame">

	</div>

</div>

<div class="parallax" id="juices2">
    
    <div class="LeftColumn">
    	
    </div>
    <div class="RightColumn">

		<div id="" class="SubRow">

			We package in glass because it is the safer material to house our life-force energy elixirs for human consumption. Cold-pressed juice is produced in a process that requires focus, detail and labor. A lot of intention goes into each drop. If we are going as far to offer you juice of such quality, why stop there? To us, the decision is easy – only glass could bring our high-caliber juices to you in the safest way possible that preserves the nutritional integrity of the juices while bolstering your lifestyle and dietary goals.
			
		</div>
	</div>

</div>
