<div id="section3"></div>

<div class="parallax">
    
    <div class="LeftColumn">
    	
    </div>

    <div class="RightColumn">

		<div class="ColumnTitle anchorLink">Why JÜS?</div>

		<%= render "section_seperator" %>

		<div id="juicingIsTheBest" class="SubRow ">
			<b>Juicing is the best!</b></br></br>

			Fresh juice provides our bodies with minerals, vitamins, essential fatty acids, carbohydrates, proteins and much more. All of these components are essential in  maintaining good health. By giving our bodies a break and cleansing our systems, we are able to repair our pH balance and create a healthy alkaline environment free from chronic fatigue, headaches, insomnia, depression, allergies, aches, pains, digestive problems and unhealthy skin. 
			</br></br>
			<a style="color: #39B54A;"><b>The Daily Must</b></a> is 500 ml Green Juice!
		</div>
		
		<div class="hidden anchorLink">Cold Pressed</div>
		</br>
		<div id="coldPressed" class="SubRow">
			<b>Cold pressed vs. Centrifugal</b></br></br>

			<%= image_tag "chart.png", id: "coldpressed_chart" %>

			All of our juices have incredible health benefits. However, the most important addition to your day is a green juice. A green juice is any cold-pressed juice that contains any form of green leaves, such as romaine, spinach, rocket, parsley or mint. Green leaves are incredibly dense in nutrition and their juices even more so!
		</div>

		<div class="hidden anchorLink">Norwalk</div>
		</br>
		<div id="norwalk" class="SubRow">
			<b>Norwalk hydraulic press juicer</b></br></br>

			The cold-pressed juice we use at JÜS is the Norwalk Juice Press, a hydraulic press juicer that slowly grinds produce into a fine pulp, which is then placed in cloth bags. Once the bags are filled, they are placed between two stainless-steel blades. The blades press together, applying thousands of pounds of pressure to the pulp, extracting every last drop of juice. 
		</div>

	</div>

</div>