<div id="section3"></div>

<div class="parallax">
    
    <div class="LeftColumn">
    	
    </div>

    <div class="RightColumn">

		<div class="ColumnTitle anchorLink">Why JÜS?</div>

		<%= render "section_seperator" %>

		<div id="juicingIsTheBest" class="SubRow">
			<div class="LowerTitle">Fit, Beautiful, Healthy</div></br>
			Fresh juice provides our bodies with minerals, vitamins, essential fatty acids, carbohydrates, proteins and much more. All of these components are essential in maintaining good health. By giving our bodies a break and cleansing our systems, we are able to repair our pH balance and create a healthy alkaline environment free from chronic fatigue, headaches, insomnia, depression, allergies, aches, pains, digestive problems and unhealthy skin. 
			</br></br>

			Fresh cold-pressed juices help you feel and look your best, day after day. They literally make your cells sing with joy! Our juices are completely raw, unpasteurized, unprocessed and undiluted. Regardless of your dietary habits, our juices complement your lifestyle, offering a concentrated dose of incredible nutrition from which we could all benefit.			
			</br>
		</div>
		</br>
		<div id="coldPressed" class="SubRow">
			<div class="LowerTitle">Cold Pressed</div></br>

			<%= image_tag "coldpressed-graphic.png", id: "coldpressed_chart" %>

			All of our juices are cold pressed. In this method, juice is extracted from fruits and vegetables by first crushing and then pressing them for the highest juice yield. Because the process doesn’t produce much heat, it keeps more of the nutrients intact than if you were to use a regular, run-of-the-mill, centrifugal juicer.
		</div>

		<div id="norwalk" class="SubRow">

			<%= image_tag "norwalk-graphic.png", id: "norwalk-graphic" %>
			</br></br>
			The cold-pressed juice we use at JÜS is the famed <b>Norwalk Juice Press</b>, a hydraulic press juicer that apples thousands of pounds of pressure to the pulp of fresh fruits and vegetables, extracting every last drop of juice. The Norwalk Juice Press creates no heat, thus preserving the nutritional integrity of the fruit and vegetables - cold-pressed juices contain up to five-time the amount of vitamins, trace minerals and enzymes than juices made with a regular centrifugal juicer. Cold-pressed juices taste better and when bottled properly, last for 72 hours.
		</div>

	</div>

</div>